.side-bar {
    height: 100%;/* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */

    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    border: solid 1px #ccc;
    background-color: #F0F8FF;
    display: block;
    border-radius: 4px;
    cursor: move;
    padding-top: 10px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}



.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}


.example-box {
    padding: 0px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    overflow-x: scroll;
    scroll-behavior: smooth;
    background-color: #F0F8FF;
    font-size: 100px;
}
