/* You can add global styles to this file, and also import other style files */

body {
    overflow-x: hidden;
    overflow-y: scroll;
    /*background-color: #303030;*/
}

.modal {
    color: #000 !important;
}

.modal p {
    line-height: 100% !important;
}

.btn-modal {
    border: 1px solid;
    font-size: x-small;
    margin: 10px 0px 10px 57px;
    background-color: rgba(0, 0, 0, 0.2) !important;
}

.btn-modal:focus, .btn-modal:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: #ffffff !important;
    -webkit-box-shadow: initial;
    -moz-box-shadow: initial;
    box-shadow: initial;
}

.card.accordionGroupPanel,
.card.accordionGroupPanel .card-header,
.panel.accordionGroupPanel,
.card-title {
    font-size: x-small;
    padding-bottom: 0;
    padding-top: 0;
    user-select: none;
    scroll-padding-top: 1px;
    margin-bottom: 0 !important;
    color: white;
}

.card-header {
    background-color: #F8F6F5 !important;
    color: #212121 !important;
}

.card-header:first-child {
    border-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flashit {
    animation: flash ease-out 400ms 1;
}

@keyframes flash {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    20% {
        background-color: rgba(0, 246, 146, 0.9);
    }
    100% {
        background-color: rgba(0, 226, 147, 0.1);
    }
}

.flashminmax {
    animation: flashminmaxanimation ease-out 400ms 1;
}

@keyframes flashminmaxanimation {
    0% {
        background-color: rgba(255, 255, 255, 0.2);
    }
    20% {
        background-color: rgba(0, 246, 146, 0.9);
    }
    100% {
        background-color: rgba(0, 226, 147, 0.1);
    }
}

.card-header {
    background-color: rgba(5, 5, 5, 0.4);
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
}

.panel.accordionGroupPanel .panel-body {
    background-color: rgb(237, 234, 230);
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.jtk-overlay {
    user-select: none;
    cursor: default;
}

.jtk-drag-select * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jtk-drag {
    z-index: 600 !important;
}

.jtk-connector {
    z-index: 4;
}

.jtk-endpoint {
    z-index: 5;
}

.jtk-overlay {
    z-index: 6;
}

table tr {

}

.td-key {
    text-align: left !important;
    padding-left: 10px !important;
}

.td-maxinstances {
    padding-top: -5px !important;
    padding-left: 3px !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.td-mininstances {
    padding-top: 5px !important;
    padding-left: 3px !important;
    border: 0 !important;
    border-radius: 0 !important;
}

.td-value {
    text-align: right !important;
    padding-right: 10px !important;
}

.header-table {
    width: 100%;
}

.header-table td {
    max-width: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
    width: auto !important;
    font-size: x-small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 140px;
}

.header-table td:hover{
    max-width: 100%;
    overflow: visible;
    background-color: rgb(237, 232, 228);
    white-space: normal;
}

.card-block {
    padding-bottom: 0 !important;
}

.collapse.show {
    display: inline-flex !important;
    min-height: 0 !important;
}

.body-table td {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    font-size: x-small;
    color: black;
}

.body-table th {
    padding-left: 0 !important;
    color: #303030;
}

tr.row.col-sm-12 {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.table {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    overflow-x: hidden !important;
}

.card-block {
    padding-top: 0;
    padding-bottom: 0;
}

.table-active, .table-active > td, .table-active > th {
    background-color: rgba(0, 0, 0, .0);
}

.table-border--grey td, .table-border--grey th {
    border-top: 1px solid rgba(22, 22, 22, 0.1);
    border-radius: 3px;
}

.table-spacer {
    border: 0 !important;
    border-radius: 0 !important;
    height: 22px !important;
}

.col-sm-9 {
    padding-left: 1px;
    padding-right: 2px;
}

.col-sm-12 {
    padding-left: 1px;
    padding-right: 1px;
}

.col-sm-3 {
    padding-left: 3px;
    padding-right: 3px;
}

.sk-folding-cube {
    margin: auto;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FBCAEF;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
    animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

.sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
    transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
    transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
    transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
    background-color: #F865B0;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
    background-color: #E637BF;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
    background-color: #7A306C;

    -webkit-animation-delay: 0.9s;
    animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

@keyframes sk-foldCubeAngle {
    0%, 10% {
        -webkit-transform: perspective(140px) rotateX(-180deg);
        transform: perspective(140px) rotateX(-180deg);
        opacity: 0;
    }
    25%, 75% {
        -webkit-transform: perspective(140px) rotateX(0deg);
        transform: perspective(140px) rotateX(0deg);
        opacity: 1;
    }
    90%, 100% {
        -webkit-transform: perspective(140px) rotateY(180deg);
        transform: perspective(140px) rotateY(180deg);
        opacity: 0;
    }
}

/*.opentoscalogo {
  background: url(http://www.opentosca.org/image/openTOSCA_Logo.png) no-repeat center center;
  height: 245px;
  width: 369px;
}*/
