.sidebar-root {
    border: 1px solid #000000;
    border-radius: 0.25rem;
    /*color: #FFFFFF;*/
    color: black;
    top: 48px;
    z-index: 999;
    position: fixed;
    box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.75);
    /*background-color: #424242;*/
    background-color: #dddcdc;
    width: 300px;
    max-width: 300px;
}

input {
    /*background-color: #303030 !important;
    color: #fafafa !important;  */

}

input:active, input:focus, input:hover {
    /*background-color: #303030 !important;
    color: #fafafa !important;
    border-color: #000000 !important;*/
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

a {
    /*background-color: #303030 !important;
    color: #fafafa !important;*/
}

a:hover {
    /*background-color: #303030 !important;
    color: #03A9F4 !important;*/
}
