<table *ngIf="propertyDefinitionType == 'KV'" class="table table-border--grey table-sm body-table">
    <tr>
        <th>
            Key
        </th>
        <th>
            Values
        </th>
    </tr>
    <tr *ngFor="let kvPair of keys, let index=index">
        <td class="">{{kvPair.key}}</td>
        <td class="">
            <textarea
                rows="1"
                placeholder="Edit your value here."
                required
                value="{{currentValues[index]}}"
                (keyup)="properties.next($event.target.value)"
                (keyup)="kvPropertiesIndex.next(index)">
            </textarea>
        </td>
    </tr>
    <tr>

    </tr>
</table>

<div *ngIf="propertyDefinitionType == 'XML'">
    <textarea
                rows="3"
                placeholder="Edit your XML here."
                required
                value="{{xmlProperty}}"
                (keyup)="properties.next($event.target.value)">
            </textarea>
</div>

<div *ngIf="propertyDefinitionType == 'NONE'" style="color: dimgray; text-align: center"><span>No properties defined <br> at the NodeType.</span></div>
