<router-outlet></router-outlet>

<div *ngIf="loaded">
  <winery-topology-renderer [topologyTemplate]="this.topologyTemplate"
                            [visuals]="this.visuals"
                            [entityTypes]="this.entityTypes">
  </winery-topology-renderer>

  <winery-palette-component style="width:200px;float:left;margin-top:50px"
                            [entityTypes]="this.entityTypes">

  </winery-palette-component>

  <winery-sidebar style="width : 300px; float:right; z-index: 400"></winery-sidebar>
</div>
<!--
<app-sidebar style="width : 300px; float:right"></app-sidebar>
-->
